---
import Base from "../layouts/Base.astro";
import { getArticles, getBlogPosts } from "../utils/collections";
import { formatDate } from "../utils/dates";

const articles = await getArticles();
const blog = await getBlogPosts();
---

<Base title="articles">
  <fieldset>
    <legend>Blog</legend>
    <ul>
      {
        blog.map((post) => (
          <li>
            <span class="truncate-line">
              <span class="title">
                <code>{formatDate(post.data.date)}</code>
                <a href={`/blog/${post.id}/`}>{post.data.title}</a>
              </span>
              {post.data.subtitle && <span class="subtitle muted">&nbsp;- {post.data.subtitle}</span>}
            </span>
          </li>
        ))
      }
    </ul>
  </fieldset>
  <fieldset>
    <legend>Articles</legend>
    <ul>
      {
        articles.map((article) => (
          <li>
            <span class="truncate-line">
              <span class="title">
                <a href={`/articles/${article.id}/`}>{article.data.title}</a>
              </span>
              {article.data.subtitle && <span class="subtitle muted">&nbsp;- {article.data.subtitle}</span>}
            </span>
          </li>
        ))
      }
    </ul>
  </fieldset>
</Base>

<style>
  .truncate-line {
    display: flex;
    max-width: 100%;
  }
  .truncate-line .title {
    flex-shrink: 0;
  }
  .truncate-line .subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
