---
import Base from "../layouts/Base.astro";
import { getArticles, getBlogPosts } from "../utils/collections";
import { formatDate } from "../utils/dates";

const articles = await getArticles();
const blog = await getBlogPosts();
---

<Base title="articles">
  <fieldset>
    <legend>Blog</legend>
    <ul>
      {
        blog.map((post) => (
          <li>
            <code>{formatDate(post.data.date)}</code>
            <a href={`/blog/${post.id}/`}>{post.data.title}</a>
            {post.data.subtitle && <span class="muted"> - {post.data.subtitle}</span>}
          </li>
        ))
      }
    </ul>
  </fieldset>
  <fieldset>
    <legend>Articles</legend>
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}/`}>{article.data.title}</a>
            {article.data.subtitle && <span class="muted"> - {article.data.subtitle}</span>}
          </li>
        ))
      }
    </ul>
  </fieldset>
</Base>
